<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>Index</servlet-name>
  	<display-name>Index</display-name>
  	<description></description>
  	<servlet-class>fr.ynov.servlets.Index</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>addArticle</servlet-name>
  	<display-name>addArticle</display-name>
  	<description></description>
  	<servlet-class>fr.ynov.servlets.addArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>listArticles</servlet-name>
  	<display-name>listArticles</display-name>
  	<description></description>
  	<servlet-class>fr.ynov.servlets.listArticles</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>editArticle</servlet-name>
  	<display-name>editArticle</display-name>
  	<description></description>
  	<servlet-class>fr.ynov.servlets.editArticle</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewArticle</servlet-name>
  	<display-name>viewArticle</display-name>
  	<description></description>
  	<servlet-class>fr.ynov.servlets.viewArticle</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Index</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addArticle</servlet-name>
  	<url-pattern>/addArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>listArticles</servlet-name>
  	<url-pattern>/listArticles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>editArticle</servlet-name>
  	<url-pattern>/editArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewArticle</servlet-name>
  	<url-pattern>/viewArticle</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>    
  </welcome-file-list>
  
</web-app>
